a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: black;
}

a:hover {
  color: black;
}

.card {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
  border: 1px solid rgba(13, 114, 148, 0.514);
}

.card img {
  padding: 16px;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-weight: 600 !important;
}

.card button {
  background-color: rgb(13, 114, 148);
  color: white;
  padding: 6px;
  margin: 16px;
  border-radius: 16px;
}
